.about-container
  display flex
  flex-direction column
  @media all and (min-width: 1024px)
    height 95vh
    flex-direction row

.ab
  flex-grow 0
  font-size 18px
  padding 1em
  display flex
  flex-direction column
  justify-content center
  background orange_primary
  @media all and (min-width: 769px)
    flex-basis 30em

.ab-title
  font-family serif-stack
  line-height 1.5em
  text-align center
  color #111
  font-size 3em
  padding-top 1em
  @media all and (min-width: 769px)
    font-size 4em
    padding-top 0

.ab-body
  font-size 1em
  line-height 1.5em
  color #111

.ct
  flex-grow 1
  font-size 18px
  padding 1em
  display flex
  flex-direction column
  justify-content center

.ct-title
  text-align center
  margin-bottom 0.7em
  font-family serif-stack
  font-size 3em
  padding-top 1em
  @media all and (min-width: 769px)
    margin-bottom 0.5em
    font-size 4em
    padding-top 0

.ct-container
  display flex
  flex-direction column
  width 100%

.ct-name
  padding 0.5em
  padding-left 1em
  font-size 1em
  margin-bottom 1em
  border 1px solid #666

.ct-userEmail
  padding 0.5em
  padding-left 1em
  font-size 1em
  margin-bottom 1em
  border 1px solid #666

.ct-message
  padding 1em
  font-size 1em
  margin-bottom 1em
  border 1px solid #666

.ct-submit
  box-sizing border-box
  width 6em
  padding 0.2em
  font-size 1.3em
  padding 0.5em
  border none
  margin 2px
  position relative
  background none
  border 1px solid orange_primary
  &::after
    content ''
    position absolute
    bottom 0
    left 0
    width 100%
    height 100%
    background orange_primary
    z-index -1
    transform scaleY(0)
    transform-origin bottom
  &:hover:after
    animation ct-submitFill ease-out 0.3s forwards

@keyframes ct-submitFill
  from
    transform scaleY(0)
  to
    transform scaleY(1)
