// Namespace definition
//
// hps = Home Page Services
//
// service = component
//
//

.hps-services
  display flex
  justify-content center
  flex-wrap wrap

.hps-service
  opacity 0
  position relative
  box-sizing border-box
  padding 0 1em
  margin-bottom 2em
  flex-basis 100%
  @media all and (min-width: 768px)
    padding 0 0 3em
    flex-basis 40%
    margin 1em
  @media all and (min-width: 1024px)
    margin 1em 3em 4em
    flex-basis 31%

.hps-media
  display flex

.hps-serviceTitle
  margin-top 0.6em
  margin-bottom 0.2em
  font-family serif-stack
  color orange_primary
  font-size 1.9em
  @media all and (min-width: 768px)
    font-size 2em
  @media all and (min-width: 1024px)
    font-size 2.3em

.hps-serviceCopy
  color #333
  font-size 1.2em
  line-height 1.4
  padding 0.4em 0

.hps-serviceIcon
  float left
  height 70px
  width 90px
  padding 0.5em
  object-fit contain
  position relative
  border-bottom 1px solid navy_blue
  margin-bottom 0.5em
  margin-right 1em
  background white
  @media all and (min-width: 768px)
    height 80px
    width 120px

@keyframes hps-service__RollIn
  from
    opacity 0
    transform translateY(300px) scale(0.5)
  to
    opacity 1
    transform translateY(0) scale(1)

