.nv
  display flex
  justify-content space-between
  box-sizing border-box
  border-bottom 3px solid orange_primary
  @supports (backdrop-filter: blur(3px))
    backdrop-filter grayscale(20%) blur(3px)
    background rgba(255,255,255,0.7)
    position sticky
    top 0
    z-index 1

.nv-item
  position relative
  font-weight 400
  color #333
  text-decoration none
  padding 1em 0.5em
  opacity 0
  animation fade-in-top ease 0.4s forwards
  overflow none
  @media all and (min-width: 500px)
    padding 1em
    &::after
      content ''
      background orange_primary
      height 100%
      z-index -1
      width 100%
      height 8px
      position absolute
      left 0
      bottom 0
      opacity 0
      transform translateY(-15px)
    &:hover:after
      animation fade-in-top ease 0.3s forwards

.nv-logo
  height 30px
  padding 5px

.nv-phones
  margin-left auto

.nv-phone
  color #333
  font-weight 400
  margin-right 24px
  text-decoration none

.nv-phone-icon
  height 24px
  width 24px
  transform translateY(8px)

@media all and (max-width: 768px)
  .nv
    display none
    opacity 0
    visibility hidden
    pointer-events none
  .nv.mobile
    display flex
    padding-bottom 1em
    opacity 1
    visibility visible
    pointer-events auto
  .nv.mobile
    flex-direction column
  .nv.mobile .nv-logo
    width 100%
    height 40px
    object-fit contain
  .nv.mobile .nv-item
    font-size 0.8em
  .nv-mobileLinks
    display flex
    justify-content space-around
  .nv.mobile .nv-phones
    margin 0
    display flex
    justify-content space-around
  .nv.mobile .nv-phones .nv-phone
    font-size 12px
  .nv.mobile .nv-phones .nv-phone-icon
    height 18px
    width 18px
    transform translateY(5px)

@media all and (min-width: 769px)
  .nv.mobile
    display none
    opacity 0
    visibility none
    pointer-events none
  .nv-logo
    align-self center
    margin-top 3px
    // padding-top 16px
