// Namespace definition
//
// svs = Services
//
// service = component
//
//

.svs-intro
  h1 
    margin-top 3em
    margin-bottom 0.5em
    text-align center
    font-family serif_stack

.svs-services
  display flex
  justify-content center
  flex-wrap wrap

.svs-service
  opacity 0
  margin 1em 2em
  background royal_blue
  position relative
  padding 1em 2em 3em
  box-sizing border-box
  flex-basis 28em
  &::before
    content ''
    position absolute
    width 100%
    height calc(64px + 1em)
    background white
    top 0
    left 0

.svs-motto
  font-size 2em
  max-width 20em
  margin 0 auto 2em
  padding 0

.svs-serviceTitle
  font-size 2.3em
  font-family serif-stack
  text-align center
  color orange_primary

.svs-serviceCopy
  color white
  font-size 1.2em
  line-height 1.4
  // font-family serif-stack

.svs-serviceIcon
  height 128px
  width 160px
  padding 1em
  object-fit contain
  position relative
  border 2px solid navy_blue
  margin-left calc(50% - 80px)
  margin-bottom 2em
  background white
  &::after
    content ''
    position absolute
    height 36px
    top 0
    left 0
    background white
    width 200px

@keyframes svs-service__RollIn
  from
    opacity 0
    transform translateY(300px) scale(0.5)
  to
    opacity 1
    transform translateY(0) scale(1)

