.wk-intro
  background orange_primary
  margin-bottom -0.6em
  @media all and (min-width:  767px)
    margin-bottom 0
  
.wk-menu
  @media all and (min-width:  767px)
    display flex
    justify-content center
    padding-bottom 10em

.wk-menuItem
  display block
  padding 1em
  text-align center
  text-decoration none
  img
    width 70%
    margin 0 auto
  span
    display block
    font-size 1.8em
    color #222
    padding-bottom 0.3em
    font-weight 700
  @media all and (min-width: 767px)
    display flex
    padding 2em
    align-items center
    margin-right 3em
    margin-left 3em
    border-top 1px solid white
    border-bottom 1px solid white
    img
      height 150px
      width 150px
      order 0
    span
      order 1
      margin-left 1em
  @media all and (min-width: 1280px)
    min-width 390px
  
.wk-pageTitle
  font-family serif-stack
  font-size 2.5em
  text-align center
  padding-top 1em
  font-weight 700
  margin-bottom 0.3em
  color #111
  @media all and (min-width:  767px)
    text-transform uppercase
    margin-bottom 0
    padding-bottom 1.3em
    font-size 4em
    font-weight 100
    position relative
    z-index 0
    &::after
      position absolute
      top calc(50% - 0.65em)
      right calc(50% - 6em)
      content ''
      background white
      height 1em
      width 2px
      z-index -1
    &::before
      position absolute
      top calc(50% - 0.65em)
      left calc(50% - 6em)
      content ''
      background white
      height 1em
      width 2px
      z-index -1

.wk-project
  position relative
  display flex
  flex-grow 2
  flex-direction column
  @media all and (min-width: 500px)
    flex-direction row
  &::before
    content ''
    position absolute
    height 1px
    width 100%
    top 33vw
    border-bottom 2px solid blue_ess
  @media all and (min-width: 767px)
    &:nth-child(odd)
      .wk-projectInfo
        order 1
      &::before
        right 0
        width 34%

.wk-projectInfo
  display flex
  flex-direction column
  @media all and (min-width: 500px)
    width 34vw

.wk-projectTitle
  font-family serif-stack
  flex-basis 34vw
  animation reveal-wk-projectTitle ease-out 1s forwards
  transform-origin bottom
  font-size 2em
  align-self center
  padding-top 2em
  line-height 1.5
  @media all and (min-width: 500px)
    align-self flex-start
    font-size 1.5em
    padding-top 80%
    padding-bottom 1em
    padding-left 0.5em
  @media all and (min-width: 1024px)
    align-self flex-end
    padding-right 0.5em
    font-size 3em
    padding-top calc(100% - 2em)


.wk-projectDescription
  animation reveal-wk-projectDescription ease-out 0.66s forwards
  transform-origin top
  // background orange_primary
  p, ul, ol
    font-size 1.3em
    line-height 1.5
    padding-top 0

.wk-projectGallery__Container
  display flex
  flex-wrap wrap
  padding 0
  margin 0
  background #191c50
  @media all and (min-width: 500px)
    flex-basis 66vw

.wk-projectGallery__ThumbnailWrapper
  width 33vw
  height 33vw
  padding 0
  margin 0
  overflow hidden
  position relative
  flex-grow 1
  &:last-child:nth-child(odd)
    height 42vw

.wk-projectGallery__Thumbnail
  object-fit cover
  opacity 0.7
  transition: opacity 0.6s, transform 0.3s;
  transform scale(1)
  width 100%
  &:hover
    opacity 1
    transform scale(1.2)

// Interactive Gallery code

.wk-projectShow
  position fixed
  top 0
  width 100vw
  height 100vh
  padding-top 7vh
  background rgba(0,0,0,0.7)
  z-index 3
  animation wk-projectShow-reveal ease-out 0.5s
  transform-origin right
  backdrop-filter blur(2px)
  @media all and (min-width: 1024px)
    padding-top 5vh
    padding-bottom 4vh
    top 2.5vh
    height 95vh

.wk-projectShow__close
  position absolute
  top 3px
  right 0
  color white
  font-size 28px
  font-weight 100
  cursor pointer
  @media all and (min-width: 500px)
    top 5px
    right 3px
  // saved to reposition the close icon if need be
  @media all and (min-width: 1024px)
    top 3px
    right 0px

.wk-projectShow__imagesContainer
  width 100vw
  height 87vh
  display flex
  overflow-x auto
  overflow-y hidden
  scroll-snap-type x mandatory
  justify-content flex-start
  -webkit-overflow-scrolling touch
  scrolling-behavior smooth
  position relative
  // query for firefox scroll snap implementation
  @supports not (scroll-snap-align: center)
    scroll-snap-destination 50%  50%
    scroll-snap-type proximity

.wk-projectShow__image
  scroll-snap-align center
  object-fit scale-down
  @supports not (scroll-snap-align: center)
    scroll-snap-coordinate 50% 50%

.wk-projectShow
  .icon-angle-left, .icon-angle-right
    color white
    font-size 36px
    position absolute
    top 0
    cursor pointer
    display none
    @media all and (min-width: 500px)
      display block
  .icon-angle-left
    left 40%
  .icon-angle-right
    right 40%
  @media all and (min-width: 1112px)
    .icon-angle-left, .icon-angle-right
      font-size 48px
      top 40%
    .icon-angle-left
      left 0
    .icon-angle-right
      right 0

@keyframes wk-projectShow-reveal
  from
    transform translateX(100vw)
    opacity 0
  to
    transform translateX(0)
    opacity 1

@keyframes reveal-wk-projectTitle
  from
    transform rotateX(-90deg)
  to
    transform rotateX(0)

@keyframes reveal-wk-projectDescription
  from
    transform rotateX(-90deg)
  to
    transform rotateX(0)

