@import 'partials/reset'
@import 'partials/base-text'


serif_stack = 'Bodoni 72', 'Big Caslon', Georgia
sans_stack = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
// Color definitions
blue_primary = rgb(22, 79, 139)
blue_secondary = rgb(1, 110, 220)
blue_ess = rgb(43, 48, 139)
red_primary = #f40000
yellow = rgb(247, 244, 11)
orange_primary = rgb(238, 136, 36)
royal_blue = rgb(0, 35, 102)
navy_blue = rgb(0, 0, 128)
old_blue = rgb(54, 67, 123)

// Viewport definitions
contact_desktop = 724px
ipad_portrait = 768px
ipad_landscape = 1023px
ipad_pro_10 = 1111px
ipad_pro_12 = 1365px
macbook = 1439px
fullHD = 1919px

*
  box-sizing border-box

strong, em
  font-size inherit

.hd
  display flex
  flex-basis 50vw
  flex-direction column
  @media all and (min-width: 768px)
    flex-direction row

.hd-person
  padding 3em 2em
  flex-grow 1
  transition background 0.7s
  &:hover
    background orange_primary
  &:hover .hd-phone
    &::after
      opacity 1
      animation fade-in-top 1s forwards


.hd-name
  font-family 'Bodoni 72', 'Big Caslon', Georgia
  color #111
  transition color 0.7s
  text-align center
  font-size 3em
  font-weight 100
  margin 3em auto 0.1em

.hd-job-title
  font-size 1.5em
  font-weight 400
  font-family 'Bodoni 72', 'Big Caslon', Georgia
  text-align center
  margin-bottom 0.5em

.hd-body
  font-family 'Bodoni 72', 'Big Caslon', Georgia
  font-size 1.3em
  max-width 30em
  margin 0 auto 0.5em
  line-height 1.5em

.hd-phone
  text-decoration none
  text-align center
  color #000
  display block
  position relative
  margin-bottom 4em
  &::after
    content ''
    position absolute
    opacity 0
    bottom -10px
    left calc(50% - 5em)
    height 1px
    width 10em
    background white

.hd-phone-icon
  height 1.3em
  width 1.3em
  transform translateY(0.35em)

footer
  background #333
  padding 2em 1em
  line-height 1.5em
  text-align right
  a
    color white
  span
    display block
    color white

.ft         // Footer
  background red_primary
  color white
  display flex
  flex-direction column
  padding 1em 0
  font-size 16px

.ft-title
  font-size 1em
  font-weight 200
  text-align center
  margin-bottom 8px

.ft-contacts
  padding 0
  text-align center
  font-size 16px
  .ft-phone, .ft-mail
    color white
    text-decoration none
    font-size 1em
    font-weight 200

.ft-address
  font-size 1em
  font-weight 200
  text-align center

@keyframes fade-in-top
  from
    opacity 0
    transform translateY(-15px)
  to
    opacity 1
    transform translateY(0)

@keyframes fade-in-bottom
  from
    opacity 0
    transform translateY(15px)
  to
    opacity 1
    transform translateY(0)

@keyframes fade-in-left
  from
    opacity 0
    transform translateX(-50px)
  to
    opacity 1
    transform translateX(0)

.orbit-logo-container
  position relative
  text-align center
  z-index 2
  background rgba(255, 255, 255, 0.4)
  padding 12px 0
  width 100%
  @media all and (min-width: 768px)
    position absolute
    top calc(50% - 25px - 100px)
    padding 24px 50px

.orbit-logo
  height 100px
  @media all and (min-width: 768px)
    height 200px

.orbit-controls
  display none
  @media all and (min-width: 768px)
    display block

@import 'partials/navigation'
@import 'partials/services'
@import 'partials/homepage-services'
@import 'partials/contact'
@import 'partials/work-gallery'

// .orbit
//   height 50vh
