{{ define "main" }}
    <!-- MASTER WRAPPER DIV -->
    <div class="wk">
        <div class="wk-intro">
            <h1 class="wk-pageTitle">Completed Projects</h1>
            <div class="wk-menu">
                <a class="wk-menuItem" href="#3466webster">
                    <span>3466 Webster Avenue</span>
                    <img src="/img/work/3466webster/thumbs/5.jpg" alt="3466 Webster project thumbnail">
                </a>
                <a class="wk-menuItem" href="#thirdavenue4387">
                    <span>4387 3rd. Avenue</span>
                    <img src="/img/work/thirdavenue4387/thumbs/3.jpg" alt="4387 Third Avenue project thumbnail">
                </a>
                <a class="wk-menuItem" href="#522monroe">
                    <span>Monroe Street</span>
                    <img src="/img/work/522monroe/thumbs/3.jpg" alt="522 Monroe project thumbnail">
                </a>
                <a class="wk-menuItem" href="#24steinway">
                    <span>Steinway Street</span>
                    <img src="/img/work/24steinway/thumbs/12.jpg" alt="24 Steinway project thumbnail">
                </a>
            </div>

        </div>

        <section class="wk-project" id="3466webster">
            <aside class='wk-projectInfo'>
                <h1 class="wk-projectTitle">3466 Webster Avenue</h1>
                <div class="wk-projectDescription">
                    <p><strong>Address:</strong> 3466 Webster Ave. The Bronx, NY 10467.</p>
                    <!-- <p><strong>Project:</strong> 6 Floor building (subcontractor), 2500 square feet.</p> -->
                    <!-- <p><strong>Work:</strong> Super Structure.</p> -->
                    <!-- <p><strong>Start Date:</strong> October 2</p> -->
                    <!-- <p><strong>Finish Date:</strong> December 12</p> -->
                </div>
            </aside>
            <aside class="wk-projectGallery__Container">
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/1.jpg" alt="" data-gallery="3466webster" data-index="0">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/2.jpg" alt="" data-gallery="3466webster" data-index="1">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/3.jpg" alt="" data-gallery="3466webster" data-index="2">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/4.jpg" alt="" data-gallery="3466webster" data-index="3">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/5.jpg" alt="" data-gallery="3466webster" data-index="4">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/6.jpg" alt="" data-gallery="3466webster" data-index="5">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/7.jpg" alt="" data-gallery="3466webster" data-index="6">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/8.jpg" alt="" data-gallery="3466webster" data-index="7">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/9.jpg" alt="" data-gallery="3466webster" data-index="8">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/3466webster/thumbs/10.jpg" alt="" data-gallery="3466webster" data-index="9">
                </div>
            </aside>
        </section>

        <!-- Start of the 4387 3rd Ave gallery -->
        <section class="wk-project" id="thirdavenue4387">
            <aside class='wk-projectInfo'>
                <h1 class="wk-projectTitle">4387 3rd Ave</h1>
                <div class="wk-projectDescription">
                    <p><strong>Address:</strong> 4387 3rd Ave. The Bronx, NY 10457.</p>
                    <!-- <p><strong>Project:</strong> 6 Floor building (subcontractor), 2500 square feet.</p> -->
                    <!-- <p><strong>Work:</strong> Super Structure.</p> -->
                    <!-- <p><strong>Start Date:</strong> October 2</p> -->
                    <!-- <p><strong>Finish Date:</strong> December 12</p> -->
                </div>
            </aside>
            <aside class="wk-projectGallery__Container">
                {{ range $thirdave := .Site.Data.thirdavenue4387 }}
                    {{ range $index, $item := $thirdave }}
                        <div class='wk-projectGallery__ThumbnailWrapper'>
                            <img class="wk-projectGallery__Thumbnail" src="/img/work/thirdavenue4387/thumbs/{{ $item }}" alt="" data-gallery="thirdavenue4387" data-index="{{ $index }}">
                        </div>
                    {{ end }}
                {{ end }}
            </aside>
        </section>
        <!-- End of 4387 3rd Ave gallery -->

        <section class="wk-project" id="522monroe">
            <aside class='wk-projectInfo'>
                <h1 class="wk-projectTitle">Monroe Street</h1>
                <div class="wk-projectDescription">
                    <p><strong>Address:</strong> 522 Monroe Street, Honoken, NJ.</p>
                    <p><strong>Project:</strong> 5 Floor building (subcontractor), 4000 square feet.</p>
                    <p><strong>Work:</strong> Super Structure.</p>
                    <p><strong>Start Date:</strong> October 2</p>
                    <p><strong>Finish Date:</strong> December 12</p>
                </div>
            </aside>
            <aside class="wk-projectGallery__Container">
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/522monroe/thumbs/3.jpg" alt="" data-gallery="522monroe" data-index="0">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/522monroe/thumbs/4.jpg" alt="" data-gallery="522monroe" data-index="1">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/522monroe/thumbs/5.jpg" alt="" data-gallery="522monroe" data-index="2">
                </div>
            </aside>
        </section>
        <section class="wk-project" id="24steinway">
            <aside class='wk-projectInfo'>
                <h1 class="wk-projectTitle">Steinway Street</h1>
                <div class="wk-projectDescription">
                    <p><strong>Address:</strong> 24-38 Steinway St.</p>
                    <p><strong>Project:</strong> 6 Floor building (subcontractor), 2500 square feet.</p>
                    <p><strong>Work:</strong> Super Structure.</p>
                    <p><strong>Start Date:</strong> October 2</p>
                    <p><strong>Finish Date:</strong> December 12</p>
                </div>
            </aside>
            <aside class="wk-projectGallery__Container">
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/11.jpg" alt="" data-gallery="24steinway" data-index="0">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/12.jpg" alt="" data-gallery="24steinway" data-index="1">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/15.jpg" alt="" data-gallery="24steinway" data-index="2">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/17.jpg" alt="" data-gallery="24steinway" data-index="3">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/19.jpg" alt="" data-gallery="24steinway" data-index="4">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/20.jpg" alt="" data-gallery="24steinway" data-index="5">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/21.jpg" alt="" data-gallery="24steinway" data-index="6">
                </div>
                <div class='wk-projectGallery__ThumbnailWrapper'>
                    <img class="wk-projectGallery__Thumbnail" src="/img/work/24steinway/thumbs/22.jpg" alt="" data-gallery="24steinway" data-index="7">
                </div>
            </aside>
        </section>


    <!-- END OF MASTER WRAPPER DIV -->
    </div>

    <script src="/js/gallery.js"></script>
{{ end}}
