<!DOCTYPE Html>

<html lang="en_US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href='/vendor/css/foundation.min.css'>
        <script src="/vendor/js/vendor/jquery.js"></script>
        <script src="/vendor/js/vendor/what-input.js"></script>
        <script src="/vendor/js/vendor/foundation.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
        <link rel="stylesheet" href='/css/main.css'>
        <link rel="stylesheet" href='/css/fontello.css'>
        {{ if .IsHome }}
        <title>Empire Super Structure</title>
        {{ else }}
        <title>{{ .Title }} | Empire Super Structure</title>
        {{ end }}
        <meta name="ICBM" content="40.7389579;-73.865074">
        <!-- <meta name="geo.position" content="40.7389579;&#45;73.865074"> -->
        <meta name="geo.region" content="US-NY"><!-- Country code (ISO 3166-1): mandatory, state code (ISO 3166-2): optional; eg. content="US" / content="US-NY" -->
        <meta name="geo.placename" content="New York City"><!-- eg. content="New York City" -->
    </head>

    <body>
        {{ partial "nav.html" . }}
        {{ block "main" . }}
        {{ end }}
        {{ partial "footer.html" }}
    </body>
</html>
