{{ define "main" }}
    <div class="about-container">
        <section class="ab">
            <h1 class="ab-title">About Us</h1>
            <p class="ab-body">Stablished in 2015 with Jose Portillo and Marlin Ramos on the helm, Empire Super Structure has been moving forward the construction business in the borough of Queens.</p>
            <p class="ab-body">Our commitment lies with our customers and the city of New York, that is the root of our drive as a company to be in an constant search to improve our technical knowledge and provide a state of the art construction services portfolio. Our goal is to satisfy our customers needs, by being the partner needed to take into fruition your projects needs starting from the bottom and yield unmatched quality work all the way to the top.</p>
        </section>
        <section class="ct">
            <h1 class="ct-title">Message us</h1>
            <form class="ct-container" action="https://formspree.io/empiresuperstructure@gmail.com" method="POST">
            <!-- <form class="ct&#45;container" method="POST"> -->
                <input class="ct-name" type="text" name="name" placeholder="Your name">
                <input class="ct-userEmail" type="email" name="_replyto" placeholder="Your email">
                <textarea id="" class="ct-message" name="message" cols="30" rows="10" placeholder="What can we do for you?"></textarea>
                <button class="ct-submit" type="submit">Send</button>
            </form>
        </section>
    </div>
{{ end}}
