    <footer class="footer">
        <a href="mailto:empiresuperstructure@gmail.com">empiresuperstructure@gmail.com</a>
        <span>Empire Super Structure</span>
        <em><span translate="no">New York, <abbr title="New York">NY</abbr>, 11368</span></em>
    </footer>
