<nav class="nv">
    <img class="nv-logo" src="/img/logo.png" alt="Company logo">
    <a href="/" class="nv-item">Home</a>
    {{ if .IsHome }}
    <a href="#services" class="nv-item">Services</a>
    {{ else }}
    <a href="/#services" class="nv-item">Services</a>
    {{ end }}
    <a href="/about" class="nv-item">About Us | Contact</a>
    <a href="/work" class="nv-item">Our Work</a>
    <div class="nv-phones">
        <a class="nv-phone" href="tel:+13476007616">
            <img src="/img/phone-icon.png" class="nv-phone-icon">
            +1-347-600-7616</a>
        <a class="nv-phone" href="tel:+13477533524">
            <img src="/img/phone-icon.png" class="nv-phone-icon">
            +1-347-753-3524</a>
    </div>
</nav>
<nav class='nv mobile'>
    <!-- <img class="nv&#45;logo" src="/img/logo.png" alt="Company logo"> -->
    <section class="nv-mobileLinks">
        <a href="/" class="nv-item">Home</a>
        {{ if .IsHome }}
        <a href="#services" class="nv-item">Services</a>
        {{ else }}
        <a href="/#services" class="nv-item">Services</a>
        {{ end }}
        <a href="/about" class="nv-item">About Us | Contact</a>
        <a href="/work" class="nv-item">Our Work</a>
    </section>
    <div class="nv-phones">
        <a class="nv-phone" href="tel:+13476007616">
            <img src="/img/phone-icon.png" class="nv-phone-icon">
            +1-347-600-7616</a>
        <a class="nv-phone" href="tel:+13477533524">
            <img src="/img/phone-icon.png" class="nv-phone-icon">
            +1-347-753-3524</a>
    </div>
</nav>
