{{ define "main" }}
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit style="position: relative;">
    <div class="orbit-logo-container">
        <img class="orbit-logo" src="/img/logo-blue.png" alt="Empire Super Structure logo">
    </div>
    <div class="orbit-wrapper">
        <div class="orbit-controls">
            <button class="orbit-previous">&#9664;&#xFE0E;<span class="show-for-sr" style="color: #000; font-weight: 700">Previous</span></button>
            <button class="orbit-next"><span style="color: black; font-weight: 700" class="show-for-sr">Next</span>&#9654;&#xFE0E;</button>
        </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="/img/orbit/1.jpg" alt="Space">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="/img/orbit/2.jpg" alt="Space">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="/img/orbit/3.jpg" alt="Space">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="/img/orbit/4.jpg" alt="Space">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="/img/orbit/5.jpg" alt="Space">
          <!-- <figcaption class="orbit&#45;caption">Outta This World</figcaption> -->
        </figure>
        </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr"></span><span class="show-for-sr"></span></button>
    <button data-slide="1"><span class="show-for-sr"></span></button>
    <button data-slide="2"><span class="show-for-sr"></span></button>
    <!-- <button data&#45;slide="3"><span class="show&#45;for&#45;sr">Fourth slide details.</span></button> -->
    <button data-slide="3"><span class="show-for-sr"></span></button>
    <button data-slide="4"><span class="show-for-sr"></span></button>
  </nav>
</div>
    <section id="services" class="hps-services">
        <div class="hps-service" style='animation: 0.7s ease-out hps-service__RollIn forwards'>
            <img src='/img/icons/super-structure.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Superstructure</h2>
            <p class="hps-serviceCopy">We strive in the look for a purposeful and functional superstructure, our work will be noticeable and solid.</p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 0.2s hps-service__RollIn forwards'>
            <img src='/img/icons/masonry.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Masonry</h2>
            <p class="hps-serviceCopy">The final product is greater than the sum of its parts, having Empire Super Structure working with you will ensure that the final product will be more thanjust brick and stone.</p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 0.4s hps-service__RollIn forwards'>
            <img src='/img/icons/foundation.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Foundation</h2>
            <p class="hps-serviceCopy">We design and build taking into account the area of construction in order to provide a rigid and stable foundation, capable of transfering the forces generated by your building. Your Foundations will be made to endure.</p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 0.6s hps-service__RollIn forwards'>
            <img src='/img/icons/formwork.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Formwork</h2>
            <p class="hps-serviceCopy">State of the art techniques, ensure the precision and quality of your buildings in an efficient manner.</p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 0.8s hps-service__RollIn forwards'>
            <img src='/img/icons/infrastructure.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Infrastructure</h2>
            <p class="hps-serviceCopy">Our expertise yields the physical components that enhance our city</p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 1.2s hps-service__RollIn forwards'>
            <img src='/img/icons/sidewalks.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Sidewalks</h2>
            <p class="hps-serviceCopy">The simplest and most fundamental class of infrastructure at the service of all New Yorkers alike.</p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 1s hps-service__RollIn forwards'>
            <img src='/img/icons/solid-concrete-works.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Solid Concrete Works</h2>
            <p class="hps-serviceCopy"></p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 1.4s hps-service__RollIn forwards'>
            <img src='/img/icons/finished-concrete.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">Finished Concrete</h2>
            <p class="hps-serviceCopy"></p>
        </div>
        <div class="hps-service" style='animation: 0.7s ease-out 1.6s hps-service__RollIn forwards'>
            <img src='/img/icons/all-about-concrete.png' class="hps-serviceIcon">
            <h2 class="hps-serviceTitle">All About Concrete</h2>
            <p class="hps-serviceCopy"></p>
        </div>
    </section>
    <div class="hd">
        <div class="hd-person">
            <h3 class="hd-name">Jose Portillo</h3>
            <em><h4 class="hd-job-title">President</h4></em>
            <p class="hd-body">Started his construction career in 2008 as a carpenter and continues to leap ahead by founding Empire Super Structure Inc. A company with a bright future.</p>
        <a class="hd-phone" href="tel:+13476007616">
            <img src="/img/phone-icon.png" class="hd-phone-icon">
            +1-347-600-7616</a>
        </div>
        <div class="hd-person">
            <h3 class="hd-name">Marlin Ramos</h3>
            <em><h4 class="hd-job-title">Vice President</h4></em>
            <p class="hd-body">Began his career inside the construction sector in 2010. His desire to serve New York city took him to found Empire Super Structure Inc. in partnership with Jose Portillo.</p>
        <a class="hd-phone" href="tel:+13477533524">
            <img src="/img/phone-icon.png" class="hd-phone-icon">
            +1-347-753-3524</a>
        </div>
    </div>
    <script>
        $(document).foundation();
    </script>
{{ end }}
